body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: orange;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
.price{
    margin-left: 30px;
    margin-top: 30px;
}
img {
  height: 400px;
}
