body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: orange;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
.price{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
}
img {
  height: 30vh;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.imgandtitle{
  display: flex;
  flex-direction: column;
}